{% extends 'shared/Layout.html' %}
{% load socialaccount %}
{% block content %}
<!doctype html>
{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'LoginForm/login-form-15/css/style.css' %}">

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<div class="img" style="background-image: url('static/LoginForm/login-form-15/images/bg-1.jpg');"></div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100 text-center">
			      			<h5 class="mb-4">ورود به حساب کاربری</h5>
			      		</div>
								<!--<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>-->
			      	</div>
							<form action="" class="signin-form" method="post">
								{% csrf_token %}

			      		<div class="form-group mt-3">
			      			{{form.username}}
			      			<label class="form-control-placeholder" for="username">نام کاربری</label>
			      		</div>

			            <div class="form-group">
							{{form.password}}
			              <label class="form-control-placeholder" for="password">رمز عبور</label>
			              <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
			            </div>
					{% for error in form.username.errors %}
                    <p class="p-5 text-danger">{{error}}</p>
                    {% endfor %}

					<!-- <a class="btn btn-success" href="{% provider_login_url 'google' %}">Login with Google</a> -->
					
<br>
				<div class="col-lg-6">{{form.captcha}}</div>
					

					<br>
					<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
					<hr>
					<div class="col-gl-12 text-center">{% include 'accounts/login_google_button.html' %}</div>
		            <!-- <button class='js-captcha-refresh'></button> -->
		            <!-- <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Forgot Password</a>
									</div> -->
		            </div>
		          </form>
		          <p class="text-center">حساب کاربری ندارید <a href="register">همین حالا ثبت نام کنید</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'LoginForm/login-form-15/js/jquery.min.js' %}"></script>
  <script src="{% static 'LoginForm/login-form-15/js/popper.js' %}"></script>
  <script src="{% static 'LoginForm/login-form-15/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'LoginForm/login-form-15/js/main.js' %}"></script>

{% endblock %}
