{% extends "shared/Layout.html" %}
{% load static %}
{% load render_partial %}
{% block content %}
 <div id="preloder">
        <div class="loader"></div>
    </div>

 

    <!-- Breadcrumb Begin -->
    <!-- <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Women’s </a>
                        <span>Essential structured blazer</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">

                        <div class="product__details__pic__left product__thumb nice-scroll">
                            {% for i in img %}
                            <a class="" href="">
                                <img src="{{i.image.url}}" alt="#">
                            </a>
                            {% endfor %}
                        </div>

                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                
                                <img class="product__big__img" src="{{item.image.url}}" alt="">

                                {% for i in img %}
                                    <a class="" href="">
                                        <img src="{{i.image.url}}" alt="#">
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{item.title}} <span>Brand :</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( show reviews )</span>
                        </div>
                        <!-- <div class="product__details__price">$ 75.0 <span>$ 83.0</span></div> -->
                        {% if item.off_sale %}
                            <div class="product__details__price">{{item.price_with_discount}}<span>{{item.price}}</span></div>
                        {% else %}
                            <div class="product__details__price">{{item.price}}</div>
                        {% endif %}
                        
                        
                        
                        <div class="product__details__widget">
                            <ul class="">
                                <!-- <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        <label for="red">
                                            <input type="radio" name="color__radio" id="red" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>
                                    </div>
                                </li> -->
                                <li class="">
                                    <span>سایزهای موجود :</span>
                                    <div class="size__btn">
                                        {% for size in item.sizes.all %}
                                        <label for="{{size.name}}-btn" class="{% if forloop.first %} active{% endif %}">
                                            <input type="radio" id="{{size.name}}-btn" value="{{size.name}}">
                                            {{size.name}}
                                        </label>
                                        {% endfor %}                                        
                                    </div>
                                </li>
                                <!-- <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li> -->
                            </ul>
                        </div>
                        <hr>

                        <form action="/order_detail/{{item.slug}}" method="POST">
                            <div class="product__details__button">
                                <div class="quantity">
                                    <span>تعداد :</span>
                                    <div class="pro-qty">
                                        <!-- <input type="text" value="1"> -->
                                        {{Form.count}}
                                    </div>
                                </div>
                                {% csrf_token %}
                                        
                                <button type="submit" class="cart-btn"><span class="icon_bag_alt"></span> افزودن به سبد خرید</button>
                                <ul>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                </ul>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">توضیحات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-3" role="tab">نظرات ( {{count_comments}} )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                            </div>
                            <div class="tab-pane rtl" id="tabs-2" role="tabpanel">
                                <hr>
                                <h6>توضیحات</h6>
                                <div class="rtl text-justify">{{item.description|safe}}</div>
                                <hr>
                            </div>
                            <div class="tab-pane active" id="tabs-3" role="tabpanel">
                                <div class="container rtl mr-5 text-right">
                                    <div class="row">
                                        {% for comment in comments %}
                                        <div class="col-md-8 ">
                                            <div class="media g-mb-30 media-comment">
                                                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{%  static 'ashion-master/img/user/user.png' %}" alt="Image Description">
                                                <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                                                <div class="g-mb-15">
                                                    <p class=" mb-0 badge badge-secondary">{{comment.user.get_full_name}}</p>
                                                    <span class="g-color-gray-dark-v4 g-font-size-12">کاربر به این محصول {{comment.rate}} از 5 میدهد</span>
                                                    <hr>
                                                </div>
                                            
                                                <strong class="">{{comment.comment}}</strong>
                                            
                                                <ul class="list-inline d-sm-flex my-0">
                                                    
                                                </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if user.is_authenticated %}
                                <form class="rtl" action="/product_detail/{{item.slug}}" method="POST">

                                    {% if messages %}

                                        {% for message in messages %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            پیام را دریافت کردیم ! در صورت تایید پیام شما آن را نمایش خواهیم داد
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        {% endfor %}

                                        {% endif %}

                                    {% csrf_token %}
                                    {{form.rate}}
                                    <hr>
                                    {{form.comment}}
                                    <br>
                                    <button type="submit" class="btn btn-success">افزودن نظر</button>
                                </form>
                                {% else %}
                                <p class="alert alert-primary rtl text-right">برای ثبت دیدگاه باید <a href="/login">وارد</a> شوید</p>
                                {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>محصولات مشابه</h5>
                    </div>
                </div>

                {% for item in related %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{item.image.url}}">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a href="{{item.image.url}}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/{{item.get_absolute_url}}">{{item.title}}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">{{item.price}}</div>
                        </div>
                    </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <!-- <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    {% endblock %}