{% extends 'shared/Layout.html' %}

{% block content %}

<!-- <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{qs.profile_pic.url}}" alt="aa">
        </div>
    </div>
</div> -->

{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'LoginForm/login-form-15/css/style.css' %}">

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<!-- <div class="img" style="background-image: url('static/LoginForm/login-form-15/images/bg-1.jpg');"></div> -->
						<img class="img-class" src="{{qs.profile_pic.url}}" height="20%" />
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100 text-center rtl">
			      			<h5 class="btn">نام و نام خانوادگی : <span class="text-success">{{qs.user.get_full_name}}</span></h5>
			      			<h5 class="btn">نام کاربری : <span>{{qs.user.get_username}}</span></h5><hr>
			      			<h5 class="btn">شماره تلفن : <span>{{qs.phone}}</span></h5><hr>
			      			<h6 class="little-text">تاریخ ثبت نام در سایت : <span>{{qs.user.date_joined}}</span></h6><hr>
			      		</div>
			      	</div>


		            </div>
		          </form>
		          <a class="btn btn-danger m-3" href="/logout">خروج از حساب کاربری</a>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'LoginForm/login-form-15/js/jquery.min.js' %}"></script>
  <script src="{% static 'LoginForm/login-form-15/js/popper.js' %}"></script>
  <script src="{% static 'LoginForm/login-form-15/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'LoginForm/login-form-15/js/main.js' %}"></script>

{% endblock %}